header{
    border: 1px solid gray;
    background: rgb(177, 177, 177);
    padding: 10px;
}

nav{
    border: 1px solid red;
    background: rgb(177, 177, 177);
    padding: 10px;
}

footer{
    color: purple;
    background: rgb(157, 255, 0);
}

article{
    background: orange;
    padding: 10px;
}

section {
    border: 1px dotted #fff;
}

time{
    color: purple;
}

aside{
    background: blue;
    color: white;
}